
.products-wrapper {
    display: flex;
    align-items: flex-start;
}


/*=============================================
=            Filter Section            =
=============================================*/

.filter {
    display: flex;
    flex-direction: column;
    min-width: 14rem;
    border: 1px solid var(--dark-shadow);
    border-radius: 5px;
    padding: 1rem;
    position: sticky;
    top: 0;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-header > a {
    text-decoration: underline;
}

.filter > hr {
    margin: 0;
    margin-bottom: 0.5rem;
}

.filter h3 {
    margin-top: 0.5rem;
}

.filter-price {
    display: flex;
    justify-content: space-between;
}

input[type="range"] {
    accent-color: var(--accent-color);
    width: unset;
    border-radius: unset;
    height: unset;
}

/*=============================================
=            Cards in Product Listing            =
=============================================*/

.card-badge{
    max-width: 17rem;
    /* For Dark Mode (To be used later) */
    /* background-color: var(--secondary-color); */
    background-color: var(--white);
    border: 2px solid var(--text-color);
    margin: 0;
    border-radius: 5px;
}

.card-badge .img-responsive {
    object-fit: fill;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-floating-icon {
    padding-inline: 0.4rem;
    color: #d51b1f;
    font-size: 1.3rem;
}

.card-floating-icon:hover {
    background-color: var(--dark-gray);
}

.card-btn {
    background-color: var(--white);
    color: var(--black);
}

.card-btn:hover {
    background-color: var(--accent-color);
    color: var(--white);
}

.overlay-msg {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

/*=============================================
=            Card Section Layout            =
=============================================*/

.products-section {
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    justify-content: space-evenly;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.pagination span {
    cursor: pointer;
}



/*=============================================
=            Single Product            =
=============================================*/

.single-product-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.product-image > img {
    border-radius: 10px;
}

.product-details {
    max-width: 30rem;
}

.product-description {
    text-align: justify;
}

@media screen and (max-width: 530px) {
    .filter {
        display: none;
    }
}